.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 70px;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
}
